<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State</title>
</head>
<body>
<div class="new" style="width: 50%; float: left">
    <p style="text-align: center">состояния:</p>
    {{#each states}}
        <div class="card movie" style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="/state/{{this.id}}">{{ this.title }}</a></h5>
            </div>
        </div>
    {{/each}}
</div>
</body>
</html>