<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
</head>
<body>

<div class="container" style="width: 600px">

    <h1>ДОБАВЛЕНИЕ ЖАНРА АНИМЕ</h1>

    <form action="post" method="post">
        <div class="form-group">
            <label for="content">Название жанра</label>
            <input class="form-control" type="text" name="title" placeholder="название">
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

</div>
</body>
</html>